@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@500&display=swap');

*{
  font-family: 'Raleway', sans-serif;
  box-sizing: border-box;
}

body{
  background: linear-gradient(90deg, hsla(272, 68%, 52%, 1) 0%, hsla(17, 60%, 52%, 1) 100%);
}

.header{
  font-weight: 500;
  color: white;
  display: flex;
  align-items: center;
}

.entire__container{
  text-align: center;
  justify-content: center;
}

.innerbox{
  display: flex;
  align-items: center;
  justify-content: center;
}
.innerbox__contacts{
  background:rgba(255,255,255, 0.5);
  width: 60vmax;
  height: 40vmax;
  border-radius: 15px 0 0 15px;
  display: flex;
  justify-content: center;
}


.innerbox__contactsHeader{
  position: fixed;
  width: 60%;
  height: 60px;
  z-index: 10;
  display: flex;
  align-items: center;
  padding: 20px 10%;
  justify-content: space-between;
}
.searchContainer{
  position: relative;
  width: 20vmax;
  height: 2vmax;
  display: flex;
  align-items: center;
  justify-content: center;
}
#searchContacts{
  position: absolute;
  font-size: 20px;
  background: none;
  outline: none;
  border-radius: 15px;
  border: 2px solid #ffffff;
  padding: 0.5rem;
}
#searchContacts:hover{
  border-color: rgb(0, 0, 0);
}
#searchContacts:focus{
  border-color: rgb(0, 0, 0);
}
label[for=searchContacts]{
  font-size: 1.2rem;
  position: absolute;
  cursor: text;
  top: 0;
  left: 2rem;
  transition: top 200ms ease-in, left 200ms ease-in, font-size 200ms ease-in;
  background-color: hsl(294,37%,72%);
  padding: 0 0.3rem;
}
label[for=searchContacts]:hover{
  z-index: 0;
}
#searchContacts:focus ~ label[for=searchContacts],
#searchContacts:not(:placeholder-shown)#searchContacts:not(:focus)
~ label[for=searchContacts]{
  top: -1rem;
  font-size: 0.8rem;
}

.innerbox_contactsList{
  position: relative;
  width: 90%;
  height: 85%;
  top:65px;
  overflow-y: auto;
}
.innerbox_contactsList::-webkit-scrollbar{
  display: none;
}

.contact{
  position: relative;
  display: flex;
  background: linear-gradient(to right bottom, rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0.3));
  width:100%;
  height: 100px;
  margin-bottom: 15px;
  border-radius: 15px;
  text-align: left;
}

.contact__usernameCircle{
  background-color: hsla(272, 68%, 52%, 1);
  width: 90px;
  height: 90px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  margin-left: 20px;
  margin-top: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 50% ;
}

.contact__summary__name{
  font-size: 25px;
  position: absolute;
  top: 35px;
  left: 15%;
}

.contact__moreInfo{
  position: absolute;
  right: 15%;
  top: 33%;
  font-size: 25px;
  border: none;
  cursor: pointer;
  border-radius: 15px;
  transition: 0.4s;
}
.contact__moreInfo:hover{
  transform: scale(1.1);
}

.contact__favourite{
  position: absolute;
  color: rgba(255,255,255, 0.5);
  right: 5%;
  top: 25%;
  transition: 0.4s;
}
.contact__favourite:hover{
  transform: scale(1.1);
}
/*
  CSS for right box
*/

.innerbox__information{
  background: white;
  background: rgba(255,255,255, 0.5);
  width: 30vmax;
  height: 40vmax;
  border-radius: 0 15px 15px 0;
  text-align: left;
  position: relative;
}

.innerbox__information__header{
  font-size: 30px;
  position: fixed;
  margin-bottom: 10px;
}

.innerbox__information__scrollableInfo{
  position: relative;
  font-size: 25px;
  top: 80px;
  width: 90%;
  height: 80%;
  overflow-y: auto;
}
.innerbox__information__scrollableInfo::-webkit-scrollbar{
  display: none;
}

/*
.innerbox__information__address{

}

.innerbox__information__company{
  
} */